.btn {
  display: inline-flex;
  justify-content: center;
  padding: 10px 15px;
  text-transform: uppercase;
  color: $color-default-white;
  font-family: $ff-main;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  border-radius: 3px;
  background-color: $color-transparent;
  border: 1px solid $color-default-white;
  cursor: pointer;

  transition: opacity $trans-default;

  &--red {
    background-color: $color-torch-red;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}

.btn--to-form {
  background-color: $color-neon-blue;
  border: none;
  font-size: 18px;
  line-height: 21px;
  padding: 15px 25px;
}

.btn--detailed {
  border-color: $color-neon-blue;
  color: $color-neon-blue;
  width: 180px;
  margin-top: 30px;
}

.btn--question {
  background-color: $color-default-black;
  width: 265px;
  margin-right: 50px;
  border: none;
  padding: 15px 25px;
}
