.btn {
  padding: 10px 15px;
  text-transform: uppercase;
  color: $color-default-white;
  font-family: $ff-main;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  border-radius: 3px;
  background-color: $color-transparent;
  border: 1px solid $color-default-white;
  cursor: pointer;

  transition: opacity $trans-default;

  &--red {
    background-color: $color-torch-red;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}

.btn--popup {
  width: 160px;
  text-align: center;
  margin-right: 60px;

  @include vp-1023 {
    display: none;
  }
}

.btn__title {
  @include vp-767 {
    display: none;
  }
}

.btn__title--mobile {
  display: none;

  @include vp-767 {
    display: inline-block;
  }
}

.btn--to-form {
  background-color: $color-neon-blue;
  border: none;
  font-size: 18px;
  min-height: 55px;
  height: 100%;
  line-height: 21px;
  padding: 15px 0;
  margin-bottom: 20px;
  max-width: 410px;
  width: 100%;

  @include vp-1023 {
    margin-left: 45px;
  }

  @include vp-767 {
    max-width: none;
    margin-left: 0;
    font-size: 14px;
    min-height: auto;
    max-height: 40px;
    height: 100%;
    line-height: 16px;
  }
}

.btn--detailed {
  border-color: $color-neon-blue;
  color: $color-neon-blue;
  max-width: 180px;
  width: 100%;
  margin-top: 25px;
  height: 45px;

  @include vp-1023 {
    margin-top: 0;
  }

  @include vp-767 {
    max-width: 160px;
    margin-top: 18px;
    height: 35px;
  }
}

.btn--question {
  background-color: $color-default-black;
  width: 100%;
  font-size: 16px;
  line-height: 19px;
  max-width: 265px;
  border: none;
  padding: 0;
  height: 45px;

  @include vp-767 {
    max-width: none;
  }
}
