.feedback {
  background: url("../img/bg-feedback-desktop.png") center / cover no-repeat;

  @include vp-1023 {
    background: none;
  }
}

.feedback__container {
  max-width: 1260px;
  margin: 0 auto;
  display: flex;
  padding: 170px 20px 250px;

   @include vp-1023 {
    background-color: $color-neon-blue;
    padding: 45px 50px 127px;
  }

  @include vp-767 {
    padding: 50px 25px 85px;
  }
}

.feedback__picture {
  max-width: 510px;
  width: 100%;
  background-image: url("../img/paper-airplane-desktop.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  @include vp-1023 {
    display: none;
  }
}

.feedback__form {
  margin-left: auto;
  min-width: 580px;
  max-width: 50%;

  @include vp-1023 {
    min-width: 100%;
  }
}
