.feedback {
  background: url("../img/bg-feedback-desktop.png") center / cover no-repeat;

  @include vp-1023 {
    background: none;
  }
}

.feedback__container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 165px 20px 250px 20px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  background: url("../img/paper-airplane-desktop.png") top 245px left 20px / 510px 285px no-repeat;

  @include vp-1023 {
    background: none;
    background-color: $color-neon-blue;
    padding: 45px 50px 127px;
  }

  @include vp-767 {
    padding: 50px 25px 85px;
  }
}

.feedback__form {
  min-width: 580px;
  max-width: 50%;

  @include vp-1023 {
    min-width: 100%;
  }
}
