.intro {
  background-color: $color-default-black;
  background-image: image-set(
      url("../img/background-intro-desktop.png") 1x,
      url("../img/background-intro-desktop@x2.png") 2x
    );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: -17px;

  @include vp-767 {
    background-image: image-set(
      url("../img/background-intro-tablet.png") 1x,
      url("../img/background-intro-tablet@x2.png") 2x
    );
  }

  @include vp-374 {
    background-image: image-set(
      url("../img/background-intro-mobile.png") 1x,
      url("../img/background-intro-mobile@x2.png") 2x
    );
  }
}

.intro__container {
  max-width: 760px;
  text-align: left;
  margin: 0 auto;
  padding: 305px 20px 260px;

  @include vp-767 {
    padding: 180px 50px 180px;
    max-width: 100%;
  }

  @include vp-374 {
    padding: 150px 25px 170px;
  }
}

.intro h1 {
  color: $color-default-white;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  font-family: $ff-main;
  font-weight: 700;
  margin: 0;
  margin-bottom: 40px;

  @include vp-767 {
    font-size: 64px;
    line-height: 75px;
  }

  @include vp-374 {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 20px;
  }
}

.intro p {
  color: $color-default-white;
  margin: 0;
  margin-bottom: 40px;
  font-size: 22px;
  line-height: 34px;
  font-family: $ff-secondary;

  @include vp-374 {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 50px;
  }
}

.optional-text {
  @include vp-374 {
    display: none;
  }
}
