.intro {
  background-color: $color-default-black;
  background-image: image-set(
      url("../img/background-intro-desktop.png") 1x,
      url("../img/background-intro-desktop@x2.png") 2x
    );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: -17px;

  @include vp-1023 {
    background-image: image-set(
      url("../img/background-intro-tablet.png") 1x,
      url("../img/background-intro-tablet@x2.png") 2x
    );
  }

  @include vp-767 {
    background-image: image-set(
      url("../img/background-intro-mobile.png") 1x,
      url("../img/background-intro-mobile@x2.png") 2x
    );
  }
}

.intro__container {
  max-width: 1260px;
  text-align: left;
  margin: 0 auto;
  padding: 320px 20px 260px 145px;

  @include vp-1023 {
    padding: 192px 50px 185px;
    max-width: 100%;
  }

  @include vp-767 {
    padding: 165px 25px 170px;
  }
}

.intro h1 {
  color: $color-default-white;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  font-family: $ff-main;
  font-weight: 700;
  margin: 0;
  margin-bottom: 35px;

  @include vp-1023 {
    font-size: 64px;
    line-height: 75px;
    margin-bottom: 0;
  }

  @include vp-767 {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 10px;
  }
}

.intro p {
  color: $color-default-white;
  margin: 0;
  margin-bottom: 46px;
  max-width: 650px;
  font-size: 22px;
  line-height: 34px;
  font-family: $ff-secondary;

  @include vp-1023 {
    margin-bottom: 58px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 45px;
  }
}
