.products {
  background-color: $color-default-black;
}

.products__container {
  padding: 70px 20px 120px;
  margin: 0 auto;
  max-width: 1260px;

  @include vp-767 {
    padding: 60px 50px 55px;
  }

  @include vp-374 {
    padding: 50px 25px 65px;
  }
}

.products h2 {
  color: $color-default-white;
  font-family: $ff-main;
  font-weight: 400;
  font-size: 36px;
  line-height: 50px;
  margin: 0;
  margin-bottom: 50px;

  @include vp-374 {
    display: none;
  }

  &--mobile {
    display: none;

    @include vp-374 {
      display: block;
      color: $color-default-white;
      font-family: $ff-main;
      font-weight: 400;
      font-size: 28px;
      line-height: 39px;
      margin: 0;
      margin-bottom: 40px;
    }
  }
}

.products__list {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  grid-column-gap: 85px;
  grid-row-gap: 30px;

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.products__link {
  display: block;
  position: relative;
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0 0 40px;
  min-height: 650px;
  background-color: $color-neon-blue;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background-color: $color-neon-blue;
    background-image: url("../img/svg/arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 3px 0 0 0;
    background-size: 7px auto;

    @include vp-374 {
      width: 40px;
      height: 40px;
    }
  }

  &--production {
    background-image: image-set(
      url("../img/cart-1-desktop.png") 1x,
      url("../img/cart-1-desktop@x2.png") 2x
    );

    @include vp-767 {
      background-image: image-set(
        url("../img/cart-1-tablet.png") 1x,
        url("../img/cart-1-tablet@x2.png") 2x
      );
    }

    @include vp-374 {
      background-image: image-set(
        url("../img/cart-1-mobile.png") 1x,
        url("../img/cart-1-mobile@x2.png") 2x
      );
    }
  }

  &--montage {
    background-image: image-set(
      url("../img/cart-2-desktop.png") 1x,
      url("../img/cart-2-desktop@x2.png") 2x
    );

    @include vp-767 {
      background-image: image-set(
      url("../img/cart-2-tablet.png") 1x,
      url("../img/cart-2-tablet@x2.png") 2x
    );
    }

    @include vp-374 {
      background-image: image-set(
      url("../img/cart-2-mobile.png") 1x,
      url("../img/cart-2-mobile@x2.png") 2x
    );
    }
  }

  &--components {
    background-image: image-set(
      url("../img/cart-3-desktop.png") 1x,
      url("../img/cart-3-desktop@x2.png") 2x
    );

    @include vp-767 {
      background-image: image-set(
      url("../img/cart-3-tablet.png") 1x,
      url("../img/cart-3-tablet@x2.png") 2x
    );
    }

    @include vp-374 {
      background-image: image-set(
      url("../img/cart-3-mobile.png") 1x,
      url("../img/cart-3-mobile@x2.png") 2x
    );
    }
  }

  @include vp-767 {
    padding: 40px 0 0 45px;
    width: 100%;
    min-height: 250px;
  }

  @include vp-374 {
    padding: 30px;
    min-height: 250px;
  }
}

.products h3 {
  color: $color-default-white;
  font-family: $ff-main;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
}
